* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  nav {
    height: 10vh;
    background-color: #777;
    ul {
      display: flex;
      justify-content: space-between;

      .fontStyle {
        li {
          list-style-type: none;
          margin: 1rem 2rem;

          a {
            text-decoration: none;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;

            &:hover {
              color: white;
              border-bottom: 3px solid white;
            }
          }

          button {
            color: white;
            background-color: black;
            font-size: 1.15rem;
            border: none;
            border-radius: 8px;
            padding: 0.5rem 1rem;
          }
        }
      }

      .navLeftside {
        flex: 1 1 300px;
        display: flex;
        justify-content: flex-start;
      }

      .navRightside {
        flex: 1 1 300px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
